<form class="navbar-form navbar-left" role="search">
  <div class="form-group" style="min-width: 250px;">
    Starting coordinates :
  </div>
  <div class="form-group">
    <input type="text" name="x_axis" class="form-control" placeholder="X axis value">
  </div>
  <div class="form-group">
    <input type="text" name="y_axis" class="form-control" placeholder="Y axis value">
  </div>
  <br/>
  <br/>
  <div class="form-group" style="min-width: 250px;">
    Enter new coordinates :
  </div>
  <div class="form-group">
    <input type="text" name="move_to" class="form-control" placeholder="Move to">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <br/>
  <br/>
  <div class="form-group" style="width: 100%; text-align: center;">
    Your new position is :
  </div>
</form>
